@font-face {
    font-family: NYTKarnak;
    src: url(Karnak\ Small\ Normal.ttf);
}

@font-face {
    font-family: nyt-franklin;
    src: url(Franklin\ Normal\ 700.ttf);
}

body {
    max-width: 100%;
    background-color: #121213;
    color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
}

:root {
    --empty: #3a3a3c;
    --wrong: #b59f3b;
    --right: #538d4e;
    --key:   #808384; 
}

.app-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #3A3A3C;
}

.title {
    font-family: "NYTKarnak";
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.menu-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menu-right {
    display: flex;
    justify-content: flex-end;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

.board-module {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
    justify-items: center;
    }

.row-module {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}

.tile {
    font-family: "nyt-franklin";
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    border: 2px solid #3A3A3C;
    width: 48px;
    height: 48px;
}

.tile.empty {
    background: var(--empty);
}

.tile.wrong {
    background: var(--wrong);
}

.tile.right {
    background: var(--right);
}

@media (min-width: 768px) and (min-width: 1024px) {
    .title { 
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 0.36px;
        line-height: 65px;
        height: 65px;
    }
}

@media (min-width: 768px){
    .title {
        text-align: center;
        font-size: 32px;
        letter-spacing: 0.32px;
        width: calc(100% - 700px);
    }
    .menu-left {
        width: 350px;
    }
    .menu-right {
        width: 350px;
    }
}

@media (min-width: 1024px){
    .title {
        text-align: center;
        font-size: 36px;
        letter-spacing: 0.36px;
    }
}

.keyboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyboard-module {
    margin: 0 auto 3.3px;
    vertical-align: baseline;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.keyboard-row-module {
    display: flex;
    margin: 0 auto 8px;
    justify-content: center;
    width: 100%;
    touch-action: manipulation;
  }

  .keyboard-row-module button {
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    cursor: pointer;
    background-color: var(--key);
    color: white;
    flex-grow: 1;
    text-transform: uppercase;
    user-select: none;
    width: 24.375px;
    height: 36.15px;
    margin-right: 3.75px;
    border-radius: 2.55px;
    font-size: 12.45px;
  }

  @media (min-width: 1024px){
    .keyboard-row-module {
        margin: 0 auto 8px;
      }
      .keyboard-row-module button {
        font-size: 1.25em;
        width: 39px;
        height: 58px;
        margin-right: 6px;
        border-radius: 4px;
      }
}

button.right {
    background-color: var(--right) !important;
}

button.wrong {
    background: var(--empty);
}

button.maybe {
    background: var(--wrong);
}

.animated {
    animation: flip 0.5s ease;
}

@keyframes flip {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0);

    }
    100% {
        transform: scaleY(1);
    }
}